<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- cdn para los iconos -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    rel="stylesheet"
  />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/home.css" />
    <title>MercadoLiebre</title>
  </head>
  <body>
    <header class="background__yellow">
      <img src="/images/logo.svg" alt="MercadoLiebre" class="img__logo"/>
      <form action="/search" method="get" class="form__searchbar">
        <input
          type="search"
          name="search"
          class="searchbar__input"
          placeholder="Buscar..."
        />
        <button type="submit" class="searchbar__button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <h3>
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h3>

      <nav class="navbar">
        <ul class="">
          <li class="navbar__item"><a href="/ofertas">Ofertas</li>
          <li class="navbar__item"><a href="/tiendas">Tiendas oficiales</a></li>
          <li class="navbar__item"><a href="/vender">Vender</a></li>
          <li class="navbar__item"><a href="/help">Ayuda</a></li>
          <li class="navbar__item">
            <a href="/registro"
              Creá tu cuenta
              <lass="fa-solid fa-address-card"></i>
            ></a>
          </li>
          <li class="navbar__item--login">
            <a href="/login"
              >Ingresá
              <svg class="svg__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
                /></svg
            ></a>
          </li>
          <li class="navbar__item">
            <a href="/carrito"
              >Mis compras
              <svg class="svg__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
                /></svg
            ></a>
            <button class="btn_menu">
              <svg class="svg__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1 class="center">¡Bienvenidos a MercadoLiebre!</h1>
      <p class="cuerpo_texto">El mejor lugar para encontrar las mejores ofertas</p>

      <section class="">
        <h2 class="titulares">Basado en tu ultima visita</h2>

        <article class="">
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <h3 class="descripciones">Cafetera Moulinex</h3>
          <p class="precios">Precio: $6.770</p>
          <p class="descuentos">40% OFF</p>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Moulinex" />
          <h3 class="descripciones">MacBook Pro 2019</h3>
          <p class="precios">Precio: $230.000</p>
          <p class="descuentos">20% OFF</p>
        </article>
        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Cafetera Moulinex"
          />
          <h3 class="descripciones">Samsung Galaxy S10</h3>
          <p class="precios">Precio: $70.500</p>
          <p class="descuentos">10% OFF</p>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Moulinex" />
          <h3 class="descripciones">SmartTv Samsung 43"</h3>
          <p class="precios">Precio: $23.200</p>
          <p class="descuentos">10% OFF</p>
        </article>
      </section>

      <section>
        <h3 class="titulares">Ofertas</h3>
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <h3 class="descripciones">Cafetera Moulinex</h3>
          <p class="precios">Precio: $6.770</p>
          <p class="descuentos">40% OFF</p>
        </article>

        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Moulinex" />
          <h3 class="descripciones">MacBook Pro 2019</h3>
          <p class="precios">Precio: $230.000</p>
          <p class="descuentos">20% OFF</p>
        </article>
        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Cafetera Moulinex"
          />
          <h3 class="descripciones">Samsung Galaxy S10</h3>
          <p class="precios">Precio: $70.500</p>
          <p class="descuentos">10% OFF</p>
        </article>
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Moulinex" />
          <h3>SmartTv Samsung 43"</h3>
          <p class="precios">Precio: $23.200</p>
          <p class="descuentos">10% OFF</p>
        </article>
      </section>
    </main>
    <hr />
    <footer>
      <svg class="svg__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96v32H576V96c0-35.3-28.7-64-64-64H64zM576 224H0V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V224zM112 352h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm112 16c0-8.8 7.2-16 16-16H368c8.8 0 16 7.2 16 16s-7.2 16-16 16H240c-8.8 0-16-7.2-16-16z"/></svg>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p class="cuerpo_texto">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <h4>Envío gratis desde $2.500</h4>
      <p class="cuerpo_texto">
        Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <h4>Seguridad deprincipio a fin</h4>
      <p class="cuerpo_texto">
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
  </body>
</html>
