<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <body>
    <header>
        <figure>
            <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House" /></a>
          </figure>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/movies">Listado de Películas</a>
                </li>
                <li>
                    <a href="/movies/add">Agregar Película</a>
                </li>
                <li>
                    <a href="/movies/new">Las mas nuevas</a>
                </li>
                <li>
                    <a href="/movies/recommended">Recomendadas</a>
                </li>
                <li>
                    <a href="/actors/list">Actores</a>
                </li>
                <li>
                    <a href="/actors/add">Agregar Actor</a>
                </li>
            </ul>
        </nav>
    </header>