:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
    color-scheme: dark;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 238, 238);
}
* {
    margin-top: 2rem;
    text-align: center;
}

html, body {
    height: 90%;
    margin: 0;
}

/* header - navbar */
header {
    display: flex;
    justify-content: flex-end; /* Alinea el nav a la derecha */
    padding: 20px;
    /* background-color: #f1f1f1; */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;
}

nav li {
    margin-left: 20px; /* Espacio entre los elementos del menú */
}

nav a {
    text-decoration: none;
    color: #000;
}

/* enviar el footer al final del display */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 238, 238);
    text-align: center;
}