* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;

}

ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

.center {
    text-align: center;
}

H5 {
    text-align: center;
    color: red;
}