* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

td div {
    display: flex;
    justify-content: center;
}

table td:last-child {
    text-align: center;
}

table td a {
    color: #333;
    text-decoration: none;
}

table td a:hover {
    color: #5659f1;
}

form {
    padding: 10px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: 3px;
}

button[type="submit"]:hover {
    background-color: #5659f1;
}

.botones {
    display: flex;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

/* css para card del usuario */
.card {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.card a:hover {
    background-color: #5659f1;
}

