<%- include('./partials/header.ejs') %>

    <h1>Estas seguro de querer borrar esta película: <%= movie.title %>???</h1>
    <p>
        <form action="/movies/delete/<%= movie.id %>?_method=delete" method="POST">
            <br>
            <button class="botonBorrar" type="submit">Borrar la Película</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>

        </form>
    </p>
    
    <%- include('./partials/footer.ejs') %>
</body>

</html>