<!DOCTYPE html>
<html lang="es">

<%- include('head.ejs') %>

    <body>
        <div class="container">
            <h1>HOME</h1>
            <a href="/users/add">Alta de Usuarios</a>
            <br>
            <a href="/users">Lista de Usuarios</a>
        </div>
    </body>

</html>